:root {
    font-size: 67.5%;
    --b-c--white: #FFFFFF;
    --b-c--Lgrey: #ABABAB;
    --b-c--bgrd: #FFFDF5;
    --b-c--Lgreen: #E6F4EF;
    --b-c--green: #00A085;
    --b-c--Dgreen: #213C3E;
    --b-c--Lgreen-stoke: #00A08566;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4rem;
}

header {
    padding: 2rem 0;
    background-color: var(--b-c--white);
    position: sticky;
    top: 0;
}

.header_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header_links {
    display: flex;
    gap: 2rem;
}

footer {
    background-color: var(--b-c--Dgreen);
    padding: 2rem 0;
}

.visually-hidden {
    position: absolute;
    left: -200vh;
}

.lg-bg-grad {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e6f4ef", GradientType=1);
}

@media (min-width: 800px) {
    .lg-bg-grad {
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e6f4ef", GradientType=1);
    }
}