@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BoldItalic.woff') format('woff'),
        url('../fonts/Raleway-BoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLightItalic.eot');
    src: url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BlackItalic.woff') format('woff'),
        url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
        url('../fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway-Black.ttf') format('truetype'),
        url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
        url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/Raleway-Italic.woff') format('woff'),
        url('../fonts/Raleway-Italic.ttf') format('truetype'),
        url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ThinItalic.eot');
    src: url('../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ThinItalic.woff') format('woff'),
        url('../fonts/Raleway-ThinItalic.ttf') format('truetype'),
        url('../fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin.ttf') format('truetype'),
        url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



:root {
    font-size: 67.5%;
    --b-c--white: #FFFFFF;
    --b-c--Lgrey: #ABABAB;
    --b-c--bgrd: #FFFDF5;
    --b-c--Lgreen: #E6F4EF;
    --b-c--green: #00A085;
    --b-c--green6: #057562;
    --b-c--Dgreen: #213C3E;
    --b-c--Lgreen-stoke: #00A08566;
    --b-f--ttl: ;
    --b-f--link: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

a:hover,
button:hover {
    cursor: pointer;
}

a:visited {
    /* color: var(--b-c--white); */
}

a {
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: calc(16px + 2vw);
}

p,
h3,
span {
    font-size: 16px;
}

p,
h3 {
    display: block;
    margin: 0 0 20px 0;
}

body {
    background-color: var(--b-c--bgrd);
    max-width: 100%;
    overflow-x: hidden;
}

main {
    padding-bottom: 10rem;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    padding: 2rem 0;
    background-color: var(--b-c--bgrd);
    border-bottom: 1px solid var(--b-c--Lgrey);
    position: sticky;
    top: 0;
    z-index: 999;
    /* display: none; */
    /* overflow-y: scroll; */
}

.header_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.header_links {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.header_links a {
    display: block;
    text-decoration: none;
    color: var(--b-c--Dgreen);
    text-align: center;
    margin: auto;
}

/* .header_links li:not(:last-child)  */
.header_links li {
    border-bottom: 1px solid var(--b-c--Dgreen);
    padding: 1rem;
}

.header_container button.tab-only {
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 100;
}

.header_container form {
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 1rem;
    text-align: center;
}

footer {
    background-color: var(--b-c--Dgreen);
    padding: 2rem 0;
}

footer,
footer a {
    color: var(--b-c--white);
}

section {
    padding: 6rem 0;
}

nav {
    display: flex;
}

nav ul {
    margin: auto;
}

.visually-hidden {
    position: absolute;
    left: -200vh;
}

.deco_block {
    background-color: var(--b-c--Lgreen);
    border-radius: 10px 10px 10px 50px;
    border: 1px solid var(--b-c--green);
    padding: 40px 10px 60px 40px;
    margin: 80px 0;
}

.deco_block ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deco_block li {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--b-c--green);
}

.dgreen-bgrd {
    background-color: var(--b-c--Dgreen);
    color: var(--b-c--white);
}

.btn-green,
.btn-brdrd {
    border: 1px solid var(--b-c--green6);
    color: var(--b-c--green6);
    text-align: center;
    padding: 10px 28px;
    border-radius: 44px;
    font-weight: 600;
    transition: all .3s;
    text-decoration: none;
}

.btn-green {
    background-color: var(--b-c--green6);
    color: var(--b-c--white);
}

.btn-green:hover,
.btn-brdrd:hover {
    background-color: var(--b-c--green);
    color: var(--b-c--white);
}

.nav_block,
.nav_block ul {
    display: flex;
    flex-direction: column;
}

.nav_block {
    display: none;
}

.nav_block.-active {
    display: flex;
}

.header_logo {
    display: block;
    margin-top: 8px;
}

.menu_bar {
    cursor: pointer;
    padding: 12px 0;
}

.menu_bar span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background: var(--b-c--Dgreen);
    transition: all 0.2s ease-in-out;
}

.menu_bar span:before,
.menu_bar span:after {
    position: absolute;
    background: var(--b-c--Dgreen);
    content: "";
    width: 30px;
    height: 2px;
    transition: all 0.2s ease-in-out;
    right: 0;
}

.menu_bar span:before {
    top: -8px;
}

.menu_bar span:after {
    top: 8px;
}

.menu_bar.active span {
    background: transparent;
}

.menu_bar.active span:before {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu_bar.active span:after {
    transform: rotate(-45deg) translate(5px, -6px);
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer img {
    max-width: 132px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_links a {
    text-decoration: none;
}

.footer_logo {
    margin: 0 auto auto 0;
}

.copyrigth {
    display: flex;
    margin: auto auto 0 0;
    font-size: 16px;
}

.copyrigth a {
    margin-left: 1rem;
}

.ttl {
    /* font-size: calc(20px + 2vw); */
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--b-c--green6);
}

.popup_wrapper {
    position: fixed;
    display: none;
    z-index: 110;
    background-color: #FFFFFF99;
    top: 0;
    left: 0;
    right: 0;
    height: 101vh;
}

.popup_wrapper.--active {
    display: flex;
}

.popup {
    margin: auto auto auto auto;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 3rem 2rem;
    background-color: #FFF;
    max-width: 500px;
    width: 100%;
}

.popup_btn-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.popup span a {
    color: var(--b-c--Dgreen);
    font-weight: 600;
}

.popup span {
    font-weight: 800;
}

.popup>div>div>div {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 1rem;
}

.popup .lead_form {
    border: 0;
}

.popup .lead_form div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

@media (min-width: 500px) {

    .container {
        padding: 0 2rem;
    }

    footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30%;
    }

    .footer_bf {
        order: 3;
        margin-top: 40px;
    }

}

@media (min-width: 800px) {
    .header_container {
        flex-direction: row;
        gap: 10%;
        /* justify-content: space-between; */
    }

    .nav_block,
    .nav_block ul {
        flex-direction: row;
        width: 100%;
    }

    .nav_block {
        gap: 10%;
        display: flex;
        /* justify-content: flex-end; */
        /* justify-content: space-between; */
    }

    .nav_block nav {
        width: 100%;
    }

    .nav_block ul {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .header_container form {
        display: none;
    }

    .nav_block ul {
        margin: auto;
    }

    .nav_block li {
        padding: 0;
        border: 0;
    }

    .tab-only {
        display: none;
    }

    .container {
        padding: 0 4rem;
    }

    .lg-bg-grad {
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 50%, rgba(230, 244, 239, 1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e6f4ef", GradientType=1);
        padding-bottom: 0;
    }

    .lg-bg-grad section {
        padding: 6rem 0 0 0;
    }

    footer .container {
        position: relative;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        gap: 5px;
    }

    .footer_logo {
        margin: 0 60px auto 0;
    }

    .footer_links {
        flex-direction: row;
        gap: 30px;
        margin: 0 auto auto 0;
    }

    .footer_links a {
        text-wrap: nowrap;
    }

    .footer_bf {
        margin: 0 0 auto auto;
    }

    .copyrigth {
        position: absolute;
        bottom: 0;
        left: 4rem;
    }

}

@media (max-width: 800px) {
    .not-tab-only {
        display: none;
    }
}