.hero .container {
    display: grid;
    grid-template-columns: 1fr;
}

.hero h1 {
    font-size: calc(14px + 2vw);
    font-weight: 600;
    color: var(--b-c--green6);
}

.hero .ttl {
    font-size: calc(12px + 2vw);
    color: var(--b-c--green);
    margin-bottom: 1rem;
}

.hero .btn-green {
    max-width: fit-content;
}

.main_pic {
    position: relative;
    max-width: fit-content;
}

.main_pic::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(../img/Star\ stoke.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    max-height: 45%;
    width: 100%;
}

.main_pic img {
    max-width: 100%;
    border-radius: 15px 15px 70px 15px;
}

.index-advantages .ttl {
    color: var(--b-c--green6);
    font-weight: 700;
}

.index-advantages .btn-green {
    /* margin-top: 2rem; */
    display: block; 
    text-decoration: none;
    width: 100%;
}

.advantages_list {
    margin-bottom: 4rem;
}

.advantage_item .advantage_ttl {
    color: var(--b-c--green);
}

.advantages_achievements p {
    color: var(--b-c--green6);
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advantages_achievements span {
    font-size: 60%;
    color: var(--b-c--green);
}

.index_feedback .container {
    position: relative;
}

.feedback_img {
    height: 150%;
    position: absolute;
    bottom: -16rem;
    right: 0;
}

@media (max-width: 1060px) {
    .feedback_img {
        display: none;
    }
}

/* form styles */
.index_form {
    position: relative;
    max-width: 800px;
}

.index_form::after {
    content: url('../img/deco/index_form_deco.svg');
    position: absolute;
    top: -1rem;
    right: -1rem;
}

.index_form h3 {
    color: var(--b-c--green6);
    padding-right: 6rem;
}

.lead_form {
    border: 1px solid var(--b-c--Lgreen-stoke);
    padding: 2rem 1rem 6rem 1rem;
    border-radius: 1rem 1rem 1rem 4rem;
}

.lead_form h3 {
    font-size: 2rem;
    font-weight: 600;
}

.lead_form select,
.lead_form input {
    border: 1px solid var(--b-c--Lgreen-stoke);
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
}

.lead_form option {
    color: var(--b-c--Dgreen);
}

.contacts_form select,
.contacts_form input::placeholder,
.contacts_form input {
    color: var(--b-c--white);
}

.form_fields {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem 0 1rem 0;
}

.confirm_txt {
    display: block;
    margin-bottom: 2rem;
    font-size: 12px;
}

.confirm_txt a {
    font-size: 12px;
    color: var(--b-c--green);
}

/* index page styles */
.index_projects .ttl {
    /* display: block; */
    font-size: 2.5rem;
    color: var(--b-c--green6);
    border-bottom: 1px solid var(--b-c--green6);
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}

.index_projects .projects_slider {
    position: relative;
}

.projects_slider .slider_btns {
    display: flex;
    top: 1rem;
    gap: 2rem;
}

.projects_list {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    transition: all .3s;
}

.project_item {
    position: relative;
    min-width: 100%;
    max-height: 80vh;
}

.project_logo {
    margin-bottom: 2rem;
}

.index_projects .project_ttl {
    color: var(--b-c--green6);
    margin-bottom: 1rem;
}

.project_link {
    color: var(--b-c--green);
}

/* advantages page styles */
.advantages {
    color: var(--b-c--green6);
}

.advantages .txt {
    color: var(--b-c--Dgreen);
}

.advantages_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    ;
}

.advantages .advantage {
    position: relative;
    border: 1px solid var(--b-c--green);
    padding: 2rem 1rem;
    border-radius: .5rem;
    transition: all .3s;
    height: fit-content;
}

.advantages .advantage_ttl {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.advantages .advantage_ttl::after {
    content: url('../img/deco/Plus.svg');
    transition: all .3s;
    height: fit-content;
    margin: auto 0 auto auto;
}

.advantage_ttl h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: auto auto auto 0;
    text-wrap: wrap;
}

.advantages .advantage[open] {
    /* padding: 2rem 1rem 1rem 1rem; */
}

.advantages .advantage[open] .advantage_ttl {
    margin-bottom: 3rem;
}

.advantages .advantage[open] .advantage_ttl::after {
    transform: rotate(45deg);
}

.advantages .advantage_body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 0px;
    transition: all .5s;
    max-width: 100%;
}

.advantage_link {
    max-width: 100%;
}

.advantage[open] {
    padding: 2rem 1rem 1rem 1rem;
}

.advantage[open] .advantage_body {
    height: auto;
}

.advantage_body a {
    display: flex;
    position: relative;
    padding: 1rem;
    background-color: var(--b-c--Lgreen);
    border-radius: .5rem;
    text-decoration: none;
    color: var(--b-c--Dgreen);
    font-weight: 600;
    text-wrap: wrap;
}

.advantage_body a::after {
    content: url('../img/deco/advantage_link_arrow.svg');
    margin: auto 0 auto auto;
}

/* about page styles */
.history_main .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
}

.history_main .about_pic {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    border-radius: 1rem 1rem 1rem 30%;
}

.history_garant {
    background-color: var(--b-c--Lgreen);
    border: 1px solid var(--b-c--green);
    border-radius: 0 1.2rem 13rem 0;
    padding: 4rem 1rem 6rem 1rem;
}

.history_garant .ttl {
    color: var(--b-c--green6);
    font-size: 2rem;
}

.history_garant .txt {
    display: block;
    margin-bottom: 4rem;
}

.history_garant a {
    font-weight: 600;
    text-decoration: none;
}

.achievements_container {
    padding: 3rem 0;
}

.achieve {
    border-bottom: 1px solid var(--b-c--green);
}

.achieve span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--b-c--green6);
    margin-top: 2rem;
}

.achieve p {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--b-c--green);
}

.history_timeline .ttl {
    color: var(--b-c--green6);
}

.history_slider {
    position: relative;
    max-width: 100%;
    /* overflow-x: hidden; */
    padding: 0 0 4rem 0;
}

.slider_btns {
    display: none;
    position: absolute;
    top: -3rem;
    right: 0;
    z-index: 10;
}

.history_lent {
    display: flex;
    transition: all .3s;
    z-index: 9;
}

.history_card {
    box-sizing: border-box;
    min-width: 300px;
    margin-right: 2rem;
    background-color: var(--b-c--green6);
    border-radius: 1rem 6rem 1rem 1rem;
    padding: 2rem 1rem;
    color: var(--b-c--white);
    background-image: url('../img/deco/Plus_s.svg');
    background-repeat: no-repeat;
    background-position: 1rem calc(100% - 1rem);
}

.history_year {
    color: var(--b-c--green6);
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.history_add {
    padding: 5rem 1rem 6rem 1rem;
    border-radius: 0 9rem 0 0;
    background-image: url('../img/deco/Star_stoke_white_bl.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) calc(100% - 4rem);
    background-size: 160px;
}

.history_txt {
    max-width: 90%;
}

.history_add>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0 0 0;
}

.history_imgs {
    max-width: fit-content;
}

.founder_profile {
    position: relative;
    padding: 1rem 0 1rem 140px;
    height: calc(120px + 2rem);
}

.founder_pic {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background-color: var(--b-c--Lgrey);
}

.founder_name {
    margin-top: 1.2rem;
    font-size: 2rem;
    color: var(--b-c--green6);
    font-weight: 600;
}

.founder_role {
    font-size: 1.6rem;
}

.founder_txt {
    font-style: italic;
    line-height: 160%;
    color: var(--b-c--Dgreen);
}

.founder_txt:last-child {
    margin-bottom: 6rem;
    padding-bottom: 10rem;
    background-image: url('../img/deco/autograph.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.founder_txt:first-of-type {
    margin-top: 4rem;
}

.founder_info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.founder_details h3 {
    color: var(--b-c--green);
    font-size: 1.8rem;
    font-weight: 600;
}

.founder_details span {
    display: block;
    color: var(--b-c--green6);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

/* team page styles */
.team_list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.team_person {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.person_img {
    width: 100%;
    max-width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.person_name {
    width: 100%;
    color: var(--b-c--green6);
}

.person_name span {
    color: var(--b-c--Dgreen);
}

.person_name h3 {
    font-size: 20px;
    line-height: 300%;
}

.person_description {
    display: flex;
    flex-wrap: wrap;
}

/* projects page styles  */
.projects_relink {
    display: flex;
    justify-content: space-around;
    padding: 10rem 0;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project_container {
    padding: 2rem 0 6rem 0;
    border-bottom: 1px solid var(--b-c--Lgreen-stoke);
    color: var(--b-c--Dgreen);
}

.project_container:first-child {
    border-top: 1px solid var(--b-c--Lgreen-stoke);
}

.project_ttl {
    font-size: 2rem;
    margin-bottom: 0;
}

.project_desc {
    display: block;
    line-height: 140%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.project_review .review_btns {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
}

/* news page styles */
.news_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    width: 100%;
    max-width: 100%;
}

.news_item {
    max-width: 100%;
}

.news_item div {
    padding: 20px 0;
    display: flex;
    gap: 2rem;
}

.news_pic {
    max-width: 100%;
    width: 100%;
    border-radius: 15px 50% 15px 15px;
}

.news_link {
    border: 1px solid var(--b-c--white);
    border-radius: 30px;
    padding: 5px 15px;
    color: var(--b-c--white);
    margin: 40px auto auto 0px;
    text-decoration: none;
}

.news_tag {
    display: flex;
}

.news_tag::before {
    content: ' ';
    display: block;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_4686_5371' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1111 9.62983C13.1189 9.60054 13.1262 9.57117 13.1332 9.54173C13.1418 9.51283 13.15 9.48377 13.1577 9.45457L13.3374 8.74975L16.5321 8.74975C16.7905 8.74975 17 8.58896 17 8.39062V5.75701C17 5.09588 16.3017 4.55992 15.4404 4.55992L14.4057 4.55992L15.3011 1.04805C15.368 0.796704 15.268 0.551335 15.0777 0.5L12.4636 0.5C11.6896 0.500001 11.1346 0.869349 10.9117 1.70716L10.1526 4.55992L9.20691 4.55992L10.1023 1.04806C10.1692 0.796721 10.0692 0.551352 9.87893 0.500018L7.26482 0.500017C6.49082 0.500018 5.9358 0.869366 5.71286 1.70718L4.95376 4.55993L0.467889 4.55994C0.209481 4.55994 0 4.72072 0 4.91906V7.55267C0 8.21381 0.698272 8.74977 1.55963 8.74977L3.8426 8.74976L3.54585 9.94689L0.467889 9.94689C0.209481 9.94689 0 10.1077 0 10.306V12.9396C0 13.6008 0.698272 14.1367 1.55963 14.1367L2.50725 14.1367L1.80938 16.952C1.7425 17.2033 1.84252 17.4487 2.03278 17.5H4.58736C5.24257 17.5 5.91639 17.1306 6.13932 16.2928L6.71305 14.1367L7.70604 14.1367L7.00818 16.9519C6.9413 17.2033 7.04131 17.4486 7.23157 17.5H9.78615C10.4414 17.5 11.1152 17.1306 11.3381 16.2928L11.9118 14.1367L16.5321 14.1367C16.7905 14.1367 17 13.9759 17 13.7776V11.144C17 10.4828 16.3017 9.94687 15.4404 9.94687L13.0267 9.94687L13.1111 9.62983ZM8.74464 9.94688L9.0414 8.74975H8.59009C8.56007 8.74975 8.53007 8.74931 8.50013 8.74843C8.4701 8.74932 8.44002 8.74976 8.40991 8.74976H8.13863L7.95893 9.45458C7.95116 9.48379 7.94297 9.51285 7.93437 9.54174C7.92745 9.57118 7.92009 9.60056 7.9123 9.62984L7.82794 9.94689L8.40991 9.94689C8.43993 9.94689 8.46992 9.94733 8.49987 9.94821C8.5299 9.94732 8.55998 9.94688 8.59009 9.94688H8.74464Z'/%3E%3C/mask%3E%3Cpath d='M13.1332 9.54173L12.4622 9.34209L12.4564 9.36167L12.4517 9.38156L13.1332 9.54173ZM13.1111 9.62983L12.4346 9.44982L12.4346 9.44982L13.1111 9.62983ZM13.1577 9.45457L13.8342 9.63457L13.836 9.62751L13.1577 9.45457ZM13.3374 8.74975V8.04975L12.7935 8.04975L12.6591 8.57681L13.3374 8.74975ZM16.5321 8.74975V8.04975V8.74975ZM15.4404 4.55992V3.85992H15.4404L15.4404 4.55992ZM14.4057 4.55992L13.7274 4.38697L13.5048 5.25992L14.4057 5.25992L14.4057 4.55992ZM15.3011 1.04805L14.6246 0.868035L14.6228 0.875103L15.3011 1.04805ZM15.0777 0.5L15.2601 -0.175831L15.1705 -0.2H15.0777V0.5ZM12.4636 0.5V-0.2H12.4636L12.4636 0.5ZM10.9117 1.70716L10.2352 1.52716L10.9117 1.70716ZM10.1526 4.55992L10.1526 5.25992L10.6906 5.25992L10.829 4.73992L10.1526 4.55992ZM9.20691 4.55992L8.52861 4.38698L8.30604 5.25992L9.20691 5.25992L9.20691 4.55992ZM10.1023 1.04806L9.42582 0.868052L9.42402 0.87512L10.1023 1.04806ZM9.87893 0.500018L10.0613 -0.175814L9.97171 -0.199982H9.87893V0.500018ZM7.26482 0.500017V-0.199983H7.26482L7.26482 0.500017ZM5.71286 1.70718L5.0364 1.52718L5.71286 1.70718ZM4.95376 4.55993L4.95376 5.25993L5.49185 5.25993L5.63022 4.73993L4.95376 4.55993ZM0.467889 4.55994V5.25994H0.46789L0.467889 4.55994ZM1.55963 8.74977L1.55963 8.04977H1.55963L1.55963 8.74977ZM3.8426 8.74976L4.52204 8.91819L4.73731 8.04976L3.8426 8.04976L3.8426 8.74976ZM3.54585 9.94689L3.54585 10.6469H4.09352L4.22529 10.1153L3.54585 9.94689ZM0.467889 9.94689V10.6469H0.46789L0.467889 9.94689ZM1.55963 14.1367V14.8367H1.55963L1.55963 14.1367ZM2.50725 14.1367L3.18668 14.3051L3.40195 13.4367L2.50724 13.4367L2.50725 14.1367ZM1.80938 16.952L2.48594 17.132L2.48882 17.1204L1.80938 16.952ZM2.03278 17.5L1.85043 18.1758L1.94 18.2H2.03278V17.5ZM6.13932 16.2928L6.81578 16.4728L6.13932 16.2928ZM6.71305 14.1367L6.71305 13.4367L6.17496 13.4367L6.03659 13.9567L6.71305 14.1367ZM7.70604 14.1367L8.38547 14.3051L8.60074 13.4367L7.70604 13.4367L7.70604 14.1367ZM7.00818 16.9519L7.68474 17.132L7.68762 17.1204L7.00818 16.9519ZM7.23157 17.5L7.04922 18.1758L7.13879 18.2H7.23157V17.5ZM11.3381 16.2928L12.0146 16.4728L11.3381 16.2928ZM11.9118 14.1367V13.4367L11.3738 13.4367L11.2354 13.9567L11.9118 14.1367ZM16.5321 14.1367V13.4367V14.1367ZM15.4404 9.94687L15.4404 10.6469L15.4404 9.94687ZM13.0267 9.94687L12.3503 9.76687L12.1161 10.6469L13.0267 10.6469L13.0267 9.94687ZM8.74464 9.94688V10.6469H9.29231L9.42408 10.1153L8.74464 9.94688ZM9.0414 8.74975L9.72083 8.91818L9.9361 8.04975H9.0414V8.74975ZM8.50013 8.74843L8.52078 8.04873L8.50009 8.04812L8.4794 8.04873L8.50013 8.74843ZM8.13863 8.74976V8.04976H7.59472L7.46033 8.57682L8.13863 8.74976ZM7.95893 9.45458L8.63542 9.6346L8.63723 9.62753L7.95893 9.45458ZM7.93437 9.54174L7.26344 9.3421L7.25761 9.36169L7.25294 9.38159L7.93437 9.54174ZM7.9123 9.62984L8.58876 9.80984L8.58876 9.80984L7.9123 9.62984ZM7.82794 9.94689L7.15147 9.76688L6.91731 10.6469L7.82794 10.6469L7.82794 9.94689ZM8.40991 9.94689V9.24689H8.4099L8.40991 9.94689ZM8.49987 9.94821L8.47919 10.6479L8.49989 10.6485L8.5206 10.6479L8.49987 9.94821ZM12.4517 9.38156C12.4464 9.40438 12.4407 9.42713 12.4346 9.44982L13.7876 9.80983C13.7971 9.77394 13.8061 9.73796 13.8146 9.7019L12.4517 9.38156ZM12.4813 9.27457C12.4752 9.2972 12.4689 9.31971 12.4622 9.34209L13.8041 9.74137C13.8146 9.70595 13.8247 9.67034 13.8342 9.63456L12.4813 9.27457ZM12.6591 8.57681L12.4794 9.28162L13.836 9.62751L14.0157 8.92269L12.6591 8.57681ZM13.3374 9.44975L16.5321 9.44975V8.04975L13.3374 8.04975V9.44975ZM16.5321 9.44975C16.802 9.44975 17.072 9.36657 17.2892 9.19985C17.5071 9.03258 17.7 8.7526 17.7 8.39062H16.3C16.3 8.22698 16.3882 8.12657 16.4367 8.08927C16.4846 8.05253 16.5207 8.04975 16.5321 8.04975V9.44975ZM17.7 8.39062V5.75701H16.3V8.39062H17.7ZM17.7 5.75701C17.7 5.16364 17.3849 4.67416 16.9694 4.35525C16.5546 4.03689 16.0117 3.85992 15.4404 3.85992V5.25992C15.7304 5.25992 15.9673 5.35092 16.117 5.46583C16.266 5.58017 16.3 5.68925 16.3 5.75701H17.7ZM15.4404 3.85992L14.4057 3.85992L14.4057 5.25992L15.4404 5.25992L15.4404 3.85992ZM14.6228 0.875103L13.7274 4.38697L15.084 4.73286L15.9794 1.22099L14.6228 0.875103ZM14.8954 1.17583C14.7333 1.13211 14.6598 1.01772 14.6376 0.963242C14.6155 0.909075 14.6225 0.876218 14.6247 0.868045L15.9776 1.22805C16.0466 0.968533 16.037 0.68732 15.9341 0.434798C15.831 0.181971 15.6124 -0.0807777 15.2601 -0.175831L14.8954 1.17583ZM12.4636 1.2L15.0777 1.2V-0.2L12.4636 -0.2V1.2ZM11.5881 1.88716C11.6684 1.5856 11.7891 1.43312 11.9003 1.34988C12.014 1.26483 12.1876 1.2 12.4636 1.2L12.4636 -0.2C11.9656 -0.2 11.4747 -0.0801517 11.0616 0.228926C10.6461 0.53981 10.3779 0.990914 10.2352 1.52716L11.5881 1.88716ZM10.829 4.73992L11.5881 1.88716L10.2352 1.52716L9.47609 4.37992L10.829 4.73992ZM10.1526 3.85992L9.20691 3.85992L9.20691 5.25992L10.1526 5.25992L10.1526 3.85992ZM9.88521 4.73287L10.7806 1.22101L9.42402 0.87512L8.52861 4.38698L9.88521 4.73287ZM10.7788 1.22807C10.8478 0.96855 10.8382 0.687337 10.7353 0.434816C10.6322 0.181988 10.4136 -0.0807605 10.0613 -0.175814L9.69658 1.17585C9.53455 1.13213 9.46104 1.01773 9.43883 0.963259C9.41675 0.909092 9.42368 0.876235 9.42586 0.868062L10.7788 1.22807ZM9.87893 -0.199982L7.26482 -0.199983V1.20002L9.87893 1.20002V-0.199982ZM7.26482 -0.199983C6.76683 -0.199982 6.2759 -0.0801345 5.86282 0.228943C5.44733 0.539827 5.17909 0.990931 5.0364 1.52718L6.38932 1.88718C6.46956 1.58561 6.5903 1.43314 6.70156 1.34989C6.81522 1.26484 6.98881 1.20002 7.26482 1.20002L7.26482 -0.199983ZM5.0364 1.52718L4.2773 4.37993L5.63022 4.73993L6.38932 1.88718L5.0364 1.52718ZM4.95376 3.85993L0.467889 3.85994L0.46789 5.25994L4.95376 5.25993L4.95376 3.85993ZM0.467889 3.85994C0.198034 3.85994 -0.0719574 3.94311 -0.289169 4.10984C-0.507099 4.27711 -0.7 4.55709 -0.7 4.91906H0.7C0.7 5.0827 0.611839 5.18312 0.563252 5.22041C0.515383 5.25715 0.479337 5.25994 0.467889 5.25994V3.85994ZM-0.7 4.91906V7.55267H0.7V4.91906H-0.7ZM-0.7 7.55267C-0.7 8.14605 -0.384901 8.63552 0.0305952 8.95443C0.445374 9.2728 0.988301 9.44977 1.55963 9.44977L1.55963 8.04977C1.2696 8.04977 1.03271 7.95876 0.883017 7.84386C0.734037 7.72951 0.7 7.62043 0.7 7.55267H-0.7ZM1.55963 9.44977L3.8426 9.44976L3.8426 8.04976L1.55963 8.04977L1.55963 9.44977ZM3.16317 8.58134L2.86642 9.77847L4.22529 10.1153L4.52204 8.91819L3.16317 8.58134ZM3.54585 9.24689L0.467889 9.24689L0.46789 10.6469L3.54585 10.6469L3.54585 9.24689ZM0.467889 9.24689C0.198034 9.24689 -0.0719568 9.33007 -0.289169 9.49679C-0.507098 9.66406 -0.7 9.94404 -0.7 10.306H0.7C0.7 10.4697 0.611839 10.5701 0.563252 10.6074C0.515383 10.6441 0.479336 10.6469 0.467889 10.6469V9.24689ZM-0.7 10.306V12.9396H0.7V10.306H-0.7ZM-0.7 12.9396C-0.7 13.533 -0.384901 14.0225 0.0305953 14.3414C0.445374 14.6598 0.988301 14.8367 1.55963 14.8367V13.4367C1.2696 13.4367 1.03271 13.3457 0.883017 13.2308C0.734037 13.1165 0.7 13.0074 0.7 12.9396H-0.7ZM1.55963 14.8367L2.50725 14.8367L2.50724 13.4367L1.55963 13.4367L1.55963 14.8367ZM1.82781 13.9683L1.12995 16.7835L2.48882 17.1204L3.18668 14.3051L1.82781 13.9683ZM1.13292 16.772C1.06387 17.0315 1.07351 17.3127 1.17644 17.5652C1.27949 17.818 1.49814 18.0808 1.85043 18.1758L2.21513 16.8242C2.37716 16.8679 2.45067 16.9823 2.47287 17.0368C2.49495 17.0909 2.48802 17.1238 2.48585 17.132L1.13292 16.772ZM2.03278 18.2H4.58736V16.8H2.03278V18.2ZM4.58736 18.2C5.51266 18.2 6.49973 17.6606 6.81578 16.4728L5.46286 16.1128C5.33304 16.6007 4.97247 16.8 4.58736 16.8V18.2ZM6.81578 16.4728L7.38951 14.3167L6.03659 13.9567L5.46286 16.1128L6.81578 16.4728ZM6.71305 14.8367L7.70604 14.8367L7.70604 13.4367L6.71305 13.4367L6.71305 14.8367ZM7.68762 17.1204L8.38547 14.3051L7.0266 13.9683L6.32874 16.7835L7.68762 17.1204ZM7.41392 16.8242C7.57595 16.8679 7.64946 16.9823 7.67167 17.0367C7.69375 17.0909 7.68681 17.1238 7.68464 17.1319L6.33172 16.7719C6.26266 17.0315 6.2723 17.3127 6.37523 17.5652C6.47829 17.818 6.69693 18.0808 7.04922 18.1758L7.41392 16.8242ZM9.78615 16.8H7.23157V18.2H9.78615V16.8ZM10.6617 16.1128C10.5318 16.6007 10.1713 16.8 9.78615 16.8V18.2C10.7115 18.2 11.6985 17.6606 12.0146 16.4728L10.6617 16.1128ZM11.2354 13.9567L10.6617 16.1128L12.0146 16.4728L12.5883 14.3167L11.2354 13.9567ZM11.9118 14.8367L16.5321 14.8367V13.4367L11.9118 13.4367V14.8367ZM16.5321 14.8367C16.802 14.8367 17.072 14.7535 17.2892 14.5868C17.5071 14.4195 17.7 14.1396 17.7 13.7776H16.3C16.3 13.6139 16.3882 13.5135 16.4367 13.4762C16.4846 13.4395 16.5207 13.4367 16.5321 13.4367V14.8367ZM17.7 13.7776V11.144H16.3V13.7776H17.7ZM17.7 11.144C17.7 10.5506 17.3849 10.0611 16.9694 9.74221C16.5546 9.42384 16.0117 9.24687 15.4404 9.24687L15.4404 10.6469C15.7304 10.6469 15.9673 10.7379 16.117 10.8528C16.266 10.9671 16.3 11.0762 16.3 11.144H17.7ZM15.4404 9.24687L13.0267 9.24687L13.0267 10.6469L15.4404 10.6469L15.4404 9.24687ZM12.4346 9.44982L12.3503 9.76687L13.7032 10.1269L13.7876 9.80983L12.4346 9.44982ZM9.42408 10.1153L9.72083 8.91818L8.36196 8.58133L8.06521 9.77845L9.42408 10.1153ZM8.59009 9.44975H9.0414V8.04975H8.59009V9.44975ZM8.47947 9.44812C8.5163 9.44921 8.55318 9.44975 8.59009 9.44975V8.04975C8.56696 8.04975 8.54385 8.04941 8.52078 8.04873L8.47947 9.44812ZM8.40991 9.44976C8.44694 9.44976 8.48393 9.44921 8.52086 9.44812L8.4794 8.04873C8.45627 8.04942 8.4331 8.04976 8.40991 8.04976V9.44976ZM8.13863 9.44976H8.40991V8.04976H8.13863V9.44976ZM8.63723 9.62753L8.81693 8.92271L7.46033 8.57682L7.28063 9.28164L8.63723 9.62753ZM8.60529 9.74139C8.61583 9.70597 8.62587 9.67037 8.63539 9.63459L7.28247 9.27458C7.27645 9.2972 7.2701 9.31972 7.26344 9.3421L8.60529 9.74139ZM8.58876 9.80984C8.59831 9.77396 8.60732 9.73797 8.6158 9.7019L7.25294 9.38159C7.24757 9.4044 7.24187 9.42715 7.23584 9.44985L8.58876 9.80984ZM8.5044 10.1269L8.58876 9.80984L7.23584 9.44984L7.15147 9.76688L8.5044 10.1269ZM8.4099 9.24689L7.82793 9.24689L7.82794 10.6469L8.40991 10.6469L8.4099 9.24689ZM8.52055 9.24852C8.48371 9.24743 8.44682 9.24689 8.40991 9.24689V10.6469C8.43304 10.6469 8.45614 10.6472 8.47919 10.6479L8.52055 9.24852ZM8.59009 9.24688C8.55306 9.24688 8.51607 9.24743 8.47914 9.24852L8.5206 10.6479C8.54373 10.6472 8.5669 10.6469 8.59009 10.6469V9.24688ZM8.74464 9.24688H8.59009V10.6469H8.74464V9.24688Z' fill='%23057562' mask='url(%23path-1-inside-1_4686_5371)'/%3E%3C/svg%3E%0A");
    ;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

/* contacts page */
.contacts {}

.contacts_txt {
    display: flex;
    line-height: 200%;
    gap: 2rem;
}

.contacts_txt::before {
    content: ' ';
    display: block;
    width: 10rem;
    min-height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='68' viewBox='0 0 45 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.5 67.5C22.5 67.5 45 35.2828 45 22.7296C45 10.1764 34.9264 0 22.5 0C10.0736 0 0 10.1764 0 22.7296C0 35.2828 22.5 67.5 22.5 67.5ZM19.7374 12.3753C15.6706 12.3753 12.3737 15.6721 12.3737 19.7389V25.2617C12.3737 29.3285 15.6706 32.6253 19.7374 32.6253H25.2601C29.3269 32.6253 32.6237 29.3285 32.6237 25.2617V19.7389C32.6237 15.6721 29.3269 12.3753 25.2601 12.3753H19.7374Z' fill='%2300A085'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

}

.contacts_list {
    max-width: fit-content;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contacts_string {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 18px;
}

.contacts_string span {
    font-weight: 600;
}

.contacts_string a {
    color: var(--b-c--white);
}

.contacts iframe {
    border-radius: 1.5rem;
}

@media (min-width: 500px) {
    .main_pic {
        order: -1;
    }

    .index-special {
        background-image: url('../img/deco/Star_stoke_brdr.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 110% 5%;
    }
    /* form styles */
    .form_fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* index page styles */
    .index_projects .project_logo {
        position: relative;
    }

    /* about page styles */
    .history_garant .ttl {
        font-size: 2.5rem;
    }

    .slider_btns {
        display: block;
    }

    /* advantages page styles */
    .advantages .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4rem;
        gap: 4rem;
    }

    /* projects page styles  */
    .project_container {
        padding: 2rem 0 6rem 25%;
        position: relative;
    }

    .project_logo {
        position: absolute;
        left: 0;
        top: 1rem;
    }

    .project_review .review_btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* news page styles */
    .news_container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* team page styles */
    .team_person {
        padding: 1.5rem;
        background-color: var(--b-c--Lgreen);
    }

    .person_img {
        max-width: 30%;
    }

    .person_name {
        max-width: 50%;
        margin: auto auto auto 0;
    }

    .person_description {
        gap: 2rem;
        flex-wrap: nowrap;
    }

    /* contacts page */
    .contacts_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media (min-width: 800px) {
    .hero .ttl {
        font-size: 24px;
    }

    .hero .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3rem 14rem 3rem 3rem 7rem 1rem 4rem 4rem 4rem;
        grid-column-gap: 4rem;
        grid-row-gap: 0px;
    }

    .hero h1 {
        grid-area: 2 / 1 / 4 / 2;
    }

    .hero h2 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .hero p {
        grid-area: 5 / 1 / 7 / 2;
    }

    .hero button {
        grid-area: 7 / 1 / 8 / 2;
    }

    .main_pic {
        grid-area: 1 / 2 / 10 / 3;
        height: 100%;
    }

    .main_pic img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 15px 90px;
    }

    .main_pic::before {
        max-height: 30%;
    }

    .index-special {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 150px;
        background-position: center center;
        background-size: 25%;
        /* z-index: -1  ; */
    }
    .index-special > * {
        z-index: 1;
    }

    .index-special::after,
    .index-special::before {
        content: ' ';
        width: 48%;
        height: 48%;
        position: absolute;
        background-color: var(--b-c--Lgreen);
        z-index: 0;
        border: 1px solid var(--b-c--green6);
    }

    .index-special::before {
        top: 0;
        right: 0;
        border-radius: 0 0 0 200px;
    }

    .index-special::after {
        bottom: 0;
        left: 0;
        border-radius: 0 200px 0 0;
    }

    .index-advantages .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
    }

    .index-advantages .deco_block {
        border: none;
        background-color: transparent;
        margin-top: -2rem;
    }

    .advantages_list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .index_projects {
        min-width: 100%;
    }

    .index_projects .slider_btns {
        display: none;
    }

    .index_projects .ttl {
        border-bottom: 0;
    }
    
    .index_projects .projects_list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .index_projects .project_item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18%;
    }
    .index_projects .project_item>div:first-child {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .index_projects .project_item>div:first-child img {
        grid-area: 1 / 1 / 3 / 2;
    }

    .index_projects .project_item>div:first-child h3 {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        margin: auto auto 10px 0;
    }

    .index_projects .project_item>div:first-child p {grid-area: 2 / 2 / 3 / 3;}

    

    /* about page styles */
    .history_main {
        position: relative;
        z-index: 1;
    }

    .history_main::before {
        content: ' ';
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 50%;
        right: 50%;
        background-color: var(--b-c--Lgreen);
        border: 1px solid var(--b-c--green);
        border-radius: 0 1.2rem 13rem 0;
    }


    .history_garant {
        background-color: transparent;
        border: none;
        border-radius: none;
        padding: 6rem 4rem 2rem 0;
    }

    .history_garant .ttl {
        font-size: 3rem;
    }

    .history_main .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 4rem;
    }

    .history_main .container>div:first-child {
        padding-right: 4rem;
    }

    .history_main .container>ul {
        padding-left: 4rem;
    }

    /* advantages page styles */
    .advantages .row {
        gap: 18rem;
    }

    .advantages_container {
        /* display: flex; */
        /* flex-wrap: wrap; */
        display: block;

        margin: 1.5em 0;
        padding: 0;
        column-gap: 1.5em;
        /* Общее расстояние между колонками */
        font-size: .85em;
        -moz-column-gap: 1.5em;
        /* Расстояние между колонками для Firefox */
        -webkit-column-gap: 1.5em;
        /* Расстояние между колонками  для Safari, Chrome и iOS */
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .advantage {
        /* display: block; */
        /* max-width: 49%; */
        /* flex: 1 0 50%; */
        /* white-space: nowrap; */

        display: inline-block;
        /* background: #fff; */
        /* padding: 1em; */
        /* margin: 0 0 1.5em; */
        width: 100%;
        margin-bottom: 1.5rem;
        box-sizing: border-box;
        /* Изменения алгоритма расчета ширины и высоты элемента.*/
        -moz-box-sizing: border-box;
        /* Для Firefox */
        -webkit-box-sizing: border-box;
        /* Для Safari, Chrome, iOS иAndroid */

    }

    /* projects page styles  */
    .project_container {
        padding: 2rem 0 2rem calc(4rem + 50%);

    }

    .project_logo {
        /* position: static; */
        top: 0;
    }

    .project_info {
        max-width: 50%;
        padding: 1.5rem 2rem 1rem 12%;
        position: absolute;
        left: 0;
        top: 1rem;
    }

    .project_review .review_btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projects_relink {
        background-color: var(--b-c--white);
    }

    /* team page styles */
    .team_list {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
    }

    .team_person {
        max-width: 100%;
        display: grid;
        /* grid-template-columns: minmax(35%, 25%) minmax(60%, 75%);  */
        grid-template-columns: auto auto;
        /* grid-template-rows: minmax(40%, 50%) minmax(50%, 60%);  */
        grid-template-rows: auto auto;
        gap: 2rem;
        grid-template-areas:
            "pic name"
            "pic desc";
    }

    .person_img {
        grid-area: pic;
        max-width: 100%;
        height: 100%;
        width: auto;
    }

    .person_name {
        grid-area: name;
        max-width: 100%;
    }

    .person_description {
        max-width: 100%;
        grid-area: desc;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    /* news page styles */
    .news_container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* contacts page */
    .contacts .container {
        background-image: url('../img/deco/contacts\ stars.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 4rem) 0;
    }

    .contacts_info {
        display: flex;
        flex-direction: column;
    }

    .contacts_content {
        display: flex;
        gap: 6rem;
        flex: 1 3;
    }

    .contacts_form {
        height: fit-content;
        margin: auto 0 0 0;
    }
}